{% extends "account/sub_base.html" %}
{% block title %}Registrazione Account{% endblock %}
{% block sub_content %}

    <form class="account-form" action="." method="post">
        {% csrf_token %}
        <h3 class="mb-2 font-weight-bold">Crea un account</h3>
        <p class="mb-4">E' gratuito e ci vuole un minuto.</p>

        {% if form.errors %}
            <p>Correggi i seguenti errori:</p>
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-primary" role="alert">
                        {{ field.label }}: {{ field.errors|striptags }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <label>{{ form.user_name.label }}<span class="text-muted small">
                                        (Obbligatorio)</span></label>
        {{ form.user_name }}
        <label>{{ form.email.label }}<span class="text-muted small">
                                        (Obbligatorio)</span></label>
        {{ form.email }}
        <label>{{ form.password.label }}<span class="text-muted mb-4">
                                        </span></label>
        <small class="form-text text-muted mb-4 small">
            Almeno 8 caratteri ed un simbolo
        </small>
        {{ form.password }}
        <label>{{ form.password2.label }}<span class="text-muted small">
                                        (Obbligatorio)</span></label>
        {{ form.password2 }}
        <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Registrati</button>
        <p class="text-center">
            <a href="{% url "account:login" %}">Hai già un account?</a>
        </p>
    </form>

{% endblock %}