{% extends "account/sub_base.html" %}
{% block title %}Log-in{% endblock %}
{% block sub_content %}

    <form class="account-form p-4" action="{% url 'account:login' %}" method="post">

        {% csrf_token %}
        <h3 class="mb-4">Sign In</h3>

        {% if form.errors %}
            <div class="alert alert-primary" role="alert">
                Error: Email o Password non corretta!
            </div>
        {% endif %}

        <label class="form-label">{{ form.username.label }}</label>
        {{ form.username }}

        <label class="form-label">{{ form.password.label }}</label>
        {{ form.password }}
        <div class="d-grid gap-2">
            <input type="hidden" name="next" value="{{ next }}">
            <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="Log-in">Accedi
            </button>
        </div>
        <p class="text-center pb-3">
            <a href="{% url "account:register" %}">Crea un account</a>
        </p>
    </form>
    <p class="small text-center pt-4">
        <a href="{% url "account:pwdreset" %}">Password dimenticata?</a>
    </p>
    <p class="small text-center">
        {% comment %} <a href="{% url "accounts:register" %}">Help Center?</a> {% endcomment %}
    </p>


{% endblock %}