{% extends "base.html" %}
{% load static %}
{% block stylesheet %}{% static 'css/account.css' %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="login d-flex align-items-center">
        <div class="col-12 col-lg-6  mx-auto">
            {% block sub_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}