{% extends "account/sub_base.html" %}
{% block title %}Conferma cancellazione account{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 mx-auto">
                            <div class="p-4">
                                <h3 class="mb-4">Account cancellato</h3>
                                <p>Addio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}