{% extends "account/sub_base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block content %}

    <form class="account-form px-4 pt-4" method="post" enctype="multipart/form-data">

        {% if user_form.is_valid and profile_form.is_valid %}
            <div class="alert alert-primary" role="alert">
                Modifica avvenuta con successo!
            </div>
            <p class="small text-center pt-0">
                <a href="{% url "account:dashboard" %}">Torna al tuo account</a>
            </p>
        {% else %}
            <h3>Modifica i tuoi dati personali</h3>
            <p>Puoi modificare i tuoi dati con il seguente form:</p>
        {% endif %}

        {% if form.errors %}
            <div class="alert alert-primary" role="alert">
                Error: Please try again!
            </div>
        {% endif %}

        {% csrf_token %}
        <label class="small font-weight-bold">{{ user_form.email.label }}</label>
        {{ user_form.email }}
        <label class="small font-weight-bold">{{ user_form.first_name.label }}</label>
        {{ user_form.first_name }}


        <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"
                value="Save changes">Salva le modifiche
        </button>
        <hr class="mb-3">
    </form>
    <form class="account-form px-4" action="{% url "account:delete_user" %}" method="post">
        {% csrf_token %}
        <p class=" h3 pt-4 font-weight-bold">Elimina account</p>
        <p>Sei sicuro di voler eliminare il tuo account?</p>
        <button type="submit" role="button"
                class="btn btn-danger btn-block py-2 mb-4 mt-5 fw-bold w-100">Elimina
        </button>
    </form>


{% endblock %}