{% extends "base.html" %}
{% load static %}
{% block title %}Indirizzo di consegna{% endblock %}
{% block content %}

    <div class="container">
        <div class="col-12">
            <h1 class="h2">Indirizzo di consegna</h1>
        </div>
        <div class="col-12">
            <p>Selezione il tuo indirizzo di consegna</p>
        </div>
        <hr/>
    </div>


    <div class="container">
        <div class="row g-3">
            {% if addresses|length == 0 %}
                <div class="col-12">Non abbiamo un indirizzo di consegna già salvato, <a
                        href="{% url 'account:add_address' %}">Aggiungi indirizzo</a></div>
            {% else %}
                <div class="col-md-4 col-lg-4 order-md-last p-0 order-3">

                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-grow-1 bd-highlight">Costi di consegna:</div>
                        <div class="p-2 bd-highlight"><span class="fw-bold h5">€</span><span id="delivery_price"
                                                                                             class="fw-bold h5">{{ basket.get_delivery_price }}</span>
                        </div>
                    </div>
                    <a role="button" href="{% url "checkout:order_complete" %}" id="button-ordina-conferma"  class="btn btn-success fw-bold w-100" type="button" >Conferma</a>
                </div>

                <div class="col-md-7 col-lg-8">
                    {% for address in addresses %}
                        {% if not address.default %}
                            <h1 class="h5 pt-4">Other Addresses</h1>
                        {% endif %}
                        <div class="card mb-3 border-1 rounded-0 product-item me-md-4" data-index="{{ option.id }}">
                            <div class="row g-0">
                                <div class="col">
                                    <div class="card pb-3 rounded-0">
                                        <div class="card-header bg-white small text-muted">
                                            {% if address.default %}
                                                Selected
                                            {% endif %}
                                            &nbsp;
                                        </div>
                                        <div class="card-body small pb-1">
                                            <p class="card-text m-0 fw-bold">{{ address.full_name }}</p>
                                            <p class="card-text m-0">{{ address.address_line }}</p>
                                            <p class="card-text m-0">{{ address.address_line2 }}</p>
                                            <p class="card-text m-0">{{ address.town_city }}</p>
                                            <p class="card-text m-0">{{ address.postcode }}</p>
                                            <p class="card-text m-0">Phone number: {{ address.phone }}</p>
                                            <div class="pt-5">
                                                <a href="{% url 'account:edit_address' address.id %}"
                                                   class="text-decoration-none">Modifica</a>
                                                {% if not address.default %}
                                                    |<a href="{% url 'account:set_default' address.id %}"
                                                        class="text-decoration-none">Seleziona</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

    </div>


{% endblock %}