{% extends "base.html" %}
{% load static %}
{% block title %}Order Successful{%endblock %}
{% block content %}

<div class="container">
  <div class="col-12">
    <h1 class="h2">Ordine Effettuato</h1>
  </div>
  <div class="col-12">
    <p>Riassunto Ordine</p>
  </div>
  <hr />
  <div class="col-12">
    <p>Vedi tutti i tuoi <a href="{% url 'account:user_orders'%}">ordini</a></p>
  </div>
</div>


{% endblock %}