{% extends "base.html" %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Prodotti{% endif %}
{% endblock %}
{% block content %}

    <div class="container" style="max-width: 1000px">
        <div class="col-12">
            <h1 class="h2">{{ category.name|title }}</h1>
        </div>
        <div class="col-12 d-flex justify-content-between">
        </div>
        <hr/>
    </div>
    <div class="container">
        <div class="row">
            <div class="album">
                {% if not products %}
                    <div class="col-12"> Negozio chiuso <a href="{% url 'store:store_home' %}">Home</a></div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                        {% else %}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                        {% for product in products %}
                            <div class="col">
                                <div class="card border-0">
                                    <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                                    <div class="card-body px-0">
                                        <p class="card-text">
                                            <a class="text-dark text-decoration-none"
                                               href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">€/kg {{ product.price }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}