{% extends "base.html" %}
{% block title %}SaporeUnico{% endblock %}
{% block content %}

    <section class="py-5 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="h1 fw-bold">Guarda, lasciati ispirare e ordina</h1>
                <p class="lead text-muted">Ordina dal nostro catalogo, paga e ritira in negozio comodamente la tua
                    spesa.
                    Oppure lascia la consegna a noi. Evita le file e goditi la spesa!</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="pb-3 h5">Tutti i Prodotti</div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% if not products %}
                    <div class="col-12">Negozio chiuso</div>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% else %}

                        {% for product in products %}

                            <div class="col">
                                <div class="card shadow-sm">
                                    <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <a class="text-dark text-decoration-none"
                                               href="{{ product.get_absolute_url }}">{{ product.name|title }}</a>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">Origine: Italia</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}