{% extends "base.html" %}
{% block title %}Prodotti{% endblock %}
{% block content %}

    <div class="container" style="max-width: 1000px">
        <div class="col-12">
            <h1 class="h2">Risultati ricerca</h1>
        </div>
        <div class="col-12 d-flex justify-content-between">
        </div>
        <hr/>
    </div>
    <div class="container">
        <div class="row">
            <div class="album">
                {% if searched %}
                    <h1>Hai cercato: {{ searched }}</h1>
                    <br/>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                    {% for product in products %}
                        <div class="col">
                                <div class="card border-0">
                                    <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                                    <div class="card-body px-0">
                                        <p class="card-text">
                                            <a class="text-dark text-decoration-none"
                                               href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">€/kg {{ product.price }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% comment %}
                        <a href="{{ product.get_absolute_url }}">{{ product }} </a><br/>
                    {% endcomment %}{% endfor %}
                {% else %}
                    <h1>Hey! Ti sei dimenticato di inserire qualcosa nella barra di ricerca</h1>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}