{% extends "base.html" %}
{% load static %}
{% block stylesheet %}{% static 'css/store.css' %}{% endblock %}
{% block title %}
{% if product %}{{ product.name }}{% else %}Prodotto{% endif %}
{% endblock %}
{% block content %}

    <div class="container" style="max-width: 1000px">
        <div class="row g-3">
            <div class="col-12 d-flex justify-content-between"></div>
            <div class="col-md-5 ps-3 col-lg-5 order-md-last p-0 order-1">
                <div class="d-grid gap-2">
                    <div class="d-flex d-flex-inline justify-content-between">
                        <div><span class="h3">€/kg {{ product.price }}</span>
                            <p class="text-muted">{{ product.name }}: {{ product.description }}</p></div>
                        <div class="">
                            <label for="select">Qty</label>
                            <select id="select" class="h6 store-select-dropdown">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="1">5</option>
                                <option value="2">6</option>
                                <option value="3">7</option>
                                <option value="4">8</option>
                                <option value="1">9</option>
                                <option value="2">10</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <button type="button" id="add-button" value="{{ product.id }}" class="btn btn-success fw500">
                        Aggiungi al carrello
                    </button>
                </div>
            </div>
            <div class="col-md-7 col-lg-7 p-0">
                <div class="card mb-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body p-1">
                                <h1 class="mb-0 h2 pe-4 pb-4">{{ product.title }}</h1>
                                <div class="bg-light"><img class="img-fluid mx-auto d-block" width="200px"
                                                           alt="Responsive image" src="{{ product.image.url }}"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).on('click', '#add-button', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "basket:basket_add" %}',
                data: {
                    productid: $('#add-button').val(),
                    productqty: $('#select option:selected').text(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("basket-qty").innerHTML = json.qty
                },
                error: function (xhr, errmsg, err) {
                }
            });
        })
    </script>

{% endblock %}