{% extends "store/../base.html" %}
{% load static %}
{% block title %}Ordine{% endblock %}
{% block content %}

<style>
  .account-form input {
    border: 2px solid #ccc;
    height: calc(2em + .75rem + 2px);
  }

  .form-control {
    border: 2px solid #ccc;
  }

  .account-form input:focus {
    border-color: #1497ff;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
  }
</style>

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-12">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div id="order-form" class="col-12 col-lg-6 mx-auto">
              <h3 class="mb-3">Indirizzo consegna</h3>
              <form>
                <div class="row g-3">
                  <div class="col-sm-7">
                    <label for="firstName" class="form-label">Nome e cognome</label>
                    <input type="text" class="form-control" id="custName" placeholder="" required>
                    <div class="invalid-feedback">
                      Un nome è necessario.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="number" class="form-label">Numero di telefono <span class="text-muted">(Obligatorio)</span></label>
                    <input type="number" class="form-control" id="number" placeholder="numero" required>
                    <div class="invalid-feedback">
                      Per favore inserisci un numero di telefono valido a scopo di aggiornarti sulla consegna e sul tuo ordine.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="address" class="form-label">Indirizzo</label>
                    <input type="text" class="form-control" id="custAdd" placeholder="via/piazza e numero civico" required>
                    <div class="invalid-feedback">
                      Per favore inserisci un indirizzo valido.
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="address2" class="form-label">Piano/ulteriori informazioni per la consegna: <span
                        class="text-muted">(Opzionale)</span></label>
                    <input type="text" class="form-control" id="custAdd2" placeholder="Piano, ecc...">
                  </div>
                  <div class="col-md-5">
                    <label for="country" class="form-label">Stato</label>
                    <select class="form-select" id="country" required>
                      <option value="">Scegli...</option>
                      <option>Italia</option>
                    </select>
                    <div class="invalid-feedback">
                      Scegli uno stato.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="state" class="form-label">città</label>
                    <select class="form-select" id="state" required>
                      <option value="">Scegli...</option>
                      <option>Castelnuovo Rangone</option>
                      <option>Castelvetro</option>
                      <option>Colombaro</option>
                      <option>Fiorano</option>
                      <option>Formigine</option>
                      <option>Levizzano Rangone</option>
                      <option>Maranello</option>
                      <option>Modena</option>
                      <option>Montale Rangone</option>
                      <option>Portile</option>
                      <option>Settecani</option>
                      <option>Spilamberto</option>
                      <option>Ubersetto</option>
                      <option>Vignola</option>
                      <option>Altro (Scrivi in ulteriori informazioni)</option>
                    </select>
                    <div class="invalid-feedback">
                      Seleziona una località.
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="Postcode" class="form-label">Postcode</label>
                    <input type="text" class="form-control" id="postCode" placeholder="" required>
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
                  </div>
                </div>
                <button id="submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}" >Ordina</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    {% comment %} Make csrf token availble in JS files {% endcomment %}
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script>
    {% comment %}document.getElementById("submit").onclick(window.location.replace("http://127.0.0.1:8000/orders/orderplaced/"))
{% endcomment %}</script>
<script src="{% static 'js/index.js' %}" data-rel-js></script>

{% endblock %}

