{% extends "account/sub_base.html" %}
{% block title %}Reset Password{% endblock %}
{% block sub_content %}

    {% if request.user.is_authenticated %}
        <script>
            window.location.href = '{% url "account:dashboard" %}';
        </script>
    {% endif %}

    <form class="account-form mx-auto" method="post" action="{% url 'account:pwdreset' %}">
        <p class="h3 mb-4 font-weight-bold">Hai dimenticato la password?</p>
        <p>Inserisci il tuo indirizzo e-mail per modificarla:</p>
        {% if form.errors %}
            <div class="alert alert-primary" role="alert">
                Error: Prova ancora!
            </div>
        {% endif %}
        {% csrf_token %}
        <label class="small font-weight-bold">{{ form.email.label }}</label>
        {{ form.email }}
        <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Send e-mail">Invia
            E-mail
        </button>
        <p class="text-center"><a href="{% url "account:login" %}">Login</a></p>
    </form>

{% endblock %}