{% extends "account/sub_base.html" %}
{% block title %}Status{% endblock %}
{% block sub_content %}

    <div class="login d-flex align-items-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6  mx-auto">
                    <div class="p-4">
                        {% if 'email' in request.get_full_path %}
                            <h3 class="mb-4">La password è stata aggiornata con successo!</h3>
                            <p>Segui le istruzioni dall'email per continuare</p>
                        {% endif %}
                        {% if 'complete' in request.get_full_path %}
                            <h3 class="mb-4">Password Reset Success</h3>
                            <a href="{% url "account:login" %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}